<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.memo.mapper.WordMapper">

    <insert id="insertWord" >
        insert into words (
            learning_session_id
            ,polish
            ,english
        ) values (
            #{word.learningSessionId}
            ,#{word.polish}
            ,#{word.english}
        )
    </insert>

    <resultMap id="reviewMap" type="com.example.memo.controller.model.ReviewResponse" autoMapping="true">
        <id property="id" column="learning_session_id"/>
        <collection property="wordList" resultMap="words"/>
    </resultMap>

    <resultMap id="words" type="com.example.memo.controller.model.Word" autoMapping="true">
        <id property="polish" column="polish"/>
        <id property="english" column="english"/>
    </resultMap>

    <select id="selectReview" resultMap="reviewMap">
        select w.learning_session_id, w.polish, w.english from words w where w.learning_session_id = #{id}
    </select>

</mapper>
